__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env
*.env
secrets.txt
data/
!data/__init__.py  # если есть модуль
*.db
*.sqlite
*.json
!data/example.json  # можно оставить шаблон
*.log
logs/
data/logs/
*.tmp
*.bak
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
dist/
build/
__dist__/
*.egg-info/
*.spec
.installer_cache/
*.cpython-*
*.so
*.orig
*.rej
